@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    margin: 0 auto;
}
.container {
    display: flex;
    margin: 100px auto;
    padding: auto;
    width: 850px;
    height: 450px;
    border: .5px solid hsl(0, 36%, 95%);
    background: url(/images/bg-pattern-desktop.svg);               
}
.left {
    padding-top: 30px;
    padding-left: 80px;
}
.left .light {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    letter-spacing: 15px;
}
.left .bold {
    font-weight: 700;
    letter-spacing: 15px;
}
.left p {
    color: hsl(0, 36%, 70%);
    line-height: 20px;
    margin-right: 150px;
    font-size: x-small;
}
.left img[src] {
    margin-bottom: 70px;
    width: 90px;
}
.right img[src] {
    width: 350px;
    height: 450px;
}
input {
    border:1px solid hsl(0, 36%, 70%);
    color: hsl(0, 36%, 70%);
    padding: 10px;
    margin-top: 20px;
    padding-right: 70px;
    border-radius: 25px;
    font-size: small;
}
input:hover {
    border: 1px solid white;
    cursor: pointer;
}
.slide {
    border:.5px solid hsl(0, 36%, 70%);
    color: white;
    /* background: hsl(0, 66%, 83%); */
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 10px;
    margin-left: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}
.slide:hover {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 93%, 68%));
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*I ADDED THIS PART TO THE CSS*/

.form-control > i{
    margin-left:-45px;
    align-items: center;
    visibility: hidden;
}
.form-control small{
    visibility: hidden;
    /* position: absolute;
    bottom:0; 
    left: 0; */
}
.form-control.error input:first-child{
    border-color: red;

}

.form-control.error i.fa-exclamation-circle{ 
    color:red;
    visibility:visible
}
.form-control.error small{
    visibility: visible;
    color: red;
}

.form-control.success small{
    visibility: none;
}
.form-control.success input :first-child{
    border-color: green;

}


/* Responsiveness Starts Here */

@media (max-width: 700px) {
    .container {
        margin: 0;
        padding: 0 auto;
        display: inline;
        height: 100vh;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    }
    .left img[src] {
        margin-right: 60%;
    }
    .left {
        margin: 10px auto;
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;
    }
    .left p {
        margin: auto;
        padding: 0 50px;
    }
    .right img[src] {
        width: 100vw;
        height: 300px;
    }
    footer {
        margin-top: 100px;
        padding-top: 100px;
    }
}